<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Food</title>
<link rel="stylesheet" href="./css/styles.css" />
<link rel="stylesheet" href="./css/layout.css" />
</head>

<body>
	<h3>
		<a href="/countries">All Countries</a>
	</h3>
	<h3>
		<a href="/foods">All Foods</a>
	</h3>
	<h3>
		<a href="/allweather">All Weather</a>
	</h3>

	<header>
		<h1>This is Cultural Food</h1>
	</header>

	<p th:text="${food.foodType}"></p>

	<div th:each="country: ${food.countryByFood}">
		<a th:href="@{/country(id=${country.id})}" th:text="${country.countryName}"></a>
	</div>
	<a href="http://localhost:8080/countries-home">Home</a>
</body>
</html>